@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        background-color: black;
        scroll-behavior: smooth;
    }
    .App {
        @apply min-h-screen bg-slate-300 m-0 p-0;
    }
    input {
        @apply text-center;
    }
}

@layer utilities {
    /* Remove built in incremementers in favor of custom ones */
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type='number'] {
        -moz-appearance: textfield;
    }
}

@layer components {
    /* Character ability stats component */
    .ability-row-headers {
        @apply text-sm text-gray-700 m-2;
        @apply text-xs sm:text-sm md:text-base;
    }
    .ability-row {
        @apply grid grid-cols-subgrid col-span-5 items-center;
    }
    .input-base {
        @apply border rounded focus:ring focus:ring-blue-300 text-center w-1/2
      md:w-2/3;
        @apply text-2xl md:text-3xl lg:text-4xl;
    }

    .input-title {
        @apply text-3xl sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl text-center;
    }
    .input-container {
        @apply flex flex-row max-h-20 min-w-20 justify-center align-middle;
    }
    .input-incrementers {
        @apply flex flex-col justify-between md:ml-1 gap-1;
    }
    .input-button {
        @apply m-0 p-0 bg-slate-200 h-8 w-8 text-center rounded-md;
    }

    /* Character information component */
    .input-container-col {
        @apply flex flex-col m-2;
    }
    .input-label {
        @apply text-xs sm:text-sm md:text-base;
    }

    /* Statusbar components */
    /* AC */
    .small-input {
        @apply input-base align-middle;
    }
}
